<div class="columns is-mobile">
  <div class="column is-half is-offset-quarter">
    <h1 class="title is-1">Sign up!</h1>
  <hr>

  <div class="box">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    
    <div class="container">
    <%= devise_error_messages! %>
    </div>

      <%= f.label :name %><br />
  <p class="control has-icon">
      <%= f.text_field :name, class: "input"%>
    <i class="fa fa-user"></i>
  </p>

      <%= f.label :email %><br />
  <p class="control has-icon">
      <%= f.email_field :email, class: "input"%>
    <i class="fa fa-envelope"></i>
  </p>

      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
  <p class="control has-icon">
      <%= f.password_field :password, class: "input",autocomplete: "off" %>
      <i class="fa fa-lock"></i>
  </p>

      <%= f.label :password_confirmation %><br />
  <p class="control has-icon">
      <%= f.password_field :password_confirmation,class: "input", autocomplete: "off" %>
      <i class="fa fa-lock"></i>
  </p>

    <div class="column is-quarter" id="target"></div> 
    
    <div class="field">
      <%= f.file_field :avatar, id: "pictureInput" %>
    </div> 

    <br />

    <div class="container">

    <button class="button is-success" type="submit">
      Sign up!
    </button>

  <% end %>

  <%= render "devise/shared/links" %>
      </div>
  
  </div>

  <hr>

  </div>
</div>
