<p id="notice"><%= notice %></p>

<div class="container">
<h1 class="title is-1">Listing Recipes of <%= @user.name %></h1>
<hr>
</div>

<div class="columns is-multiline is-mobile">
  
  <% @recipes.each do |recipe| %>
   
    <div class="column is-quarter">
      <div class="container">
      RECIPE IMAGE
      <hr>
      </div>

      <h2 class="subtitle"><a href="<%= recipe_path(recipe) %>"> <%= recipe.title %> </a> </h2>
      <small> Created at: <%= recipe.created_at.strftime('%A, %d %b %Y %l:%M %p') %> </small>
     
     <% if current_user %>
       <% if current_user.id == recipe.user_id %>
       <hr>
          <p><%= link_to 'Edit', edit_recipe_path(recipe) %></p>
          <p><%= link_to 'Destroy', recipe_path(recipe), method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
        <% if recipe.beer == nil %>
        <p><%= link_to 'Upload the beer for this recipe!', new_beer_path(recipe) %></p>
        <% end %>
      <%end%>

    </div>
   
 <% end %>

</div>  

<%= link_to 'Back to profile', profile_path %>


