<p id="notice"><%= notice %></p>

<h1 class="title is-1"> <%= @recipe.title %> </h1> 

<p> Created by: <a href="<%= user_path(@user) %>"> <%= @user.name %> </a> </p>

  <% if current_user %>
  <h2 class="subtitle"><%= link_to 'Add the beer to this recipe!', new_user_recipe_beer_path(@user,@recipe) %></h2>
  <%= link_to 'Edit recipe', edit_user_recipe_path(@user, @recipe) %> 
  <% end %>



<p> <%= @recipe.title %> </p>


<%= link_to 'Back to user recipes', user_recipes_path(@recipe.user_id) %>
