<p id="notice"><%= notice %></p>
<div class="container">
<h1 class="title is-1"> <%= @recipe.title %> </h1> 
<hr>
</div>

<div class="columns">
  <div class="column is-half">
  <p> Created by: <a href="<%= user_path(@user) %>"> <%= @user.name %> </a> </p>

      <% if current_user && (@recipe.beer == nil) %>
      <p class="subtitle"><%= link_to 'Add the beer to this recipe!', new_beer_path(@recipe) %></p>
      <% else %>
      <h2 class="subtitle"> Beer for this recipe: <%= link_to(@beer.name, beer_path(@beer.id)) %> </h2>
      <% end %>
      

    <small> Created at: <%= @recipe.created_at.strftime('%A, %d %b %Y %l:%M %p') %> </small>
  </br>
    <%= link_to 'Edit recipe', edit_recipe_path(@recipe) %>

  </div>
</div>

<%= link_to 'Back to user recipes', user_recipes_path(@recipe.user_id) %>
