<p id="notice"><%= notice %></p>

<h1 class="title is-1">Listing Users</h1>


<div class="columns is-multiline is-mobile">
  
  <% @users.each do |user| %>
   
    <div class="column is-quarter">
      <div class="container">

        <%= image_tag user.avatar.url(:medium) %>

      </div>
      <a href="<%= user_path(user.id) %>"> <%= user.name %> </a>
    </div>
    
 <% end %>

</div>    
        
<%= link_to 'New User', new_user_registration_path %>
