<div class="columns">
  
  <div class="column is-half">

  <h2 class="title">Hola <%= current_user.name %>!</h2>

      <p><%= link_to 'Edit my account', edit_user_path(@user) %> </p>

      <%= image_tag current_user.avatar.url(:medium) %>
          
        <p>
        <%= link_to 'My Recipes', user_recipes_path(current_user) %> |
        <%= link_to 'New Recipe!', new_user_recipe_path(@user) %>
        </p>

    </div>

  <div class="column is-quarter">

    <h2 class="title"> User's info: </h2>
  
    <p><strong>Name:</strong> <%= current_user.name %></p>
    <p><strong>Email:</strong> <%= current_user.email %></p>
    <p><strong>Email:</strong> <%= current_user.email %></p>


  </div>

</div>



