<div class="columns">
  <div class="column is-half">
    <div class="container">
      <h1 class="title is-1">Hola <%= current_user.name %>!</h1>

      <a href="<%= new_recipe_path %>" class="button"> ADD NEW RECIPE! </a>
      <a href="<%= user_beers_path(current_user) %>" class="button"> MY BEERS </a>

      <hr>
    </div>
  </div>

  <div class="column is-quarter is-half-tablet">
    <div class="box"> You have: <strong><%= current_user.recipes.count%></strong> recipes</div>
  </div>
  <div class="column is-quarter is-half-tablet">
    <div class="box"> You have: <strong><%= current_user.beers.count%></strong> beers</div>
  </div>

</div>

<div class="columns">
  
  <div class="column is-half">

      <%= image_tag current_user.avatar.url(:medium) %>
          
        <p>
        <%= link_to 'My Recipes', user_recipes_path(current_user) %> |
        <%= link_to 'My Beers', user_beers_path(current_user) %> |
        <%= link_to 'New Recipe!', new_recipe_path %>
        </p>

    </div>

  <div class="column is-quarter">

    <h2 class="title"> User's info: </h2>
    <hr>

    <p><%= link_to 'Edit this info', edit_user_registration_path(current_user) %> </p>
  
      <p><strong>Name:</strong> </p>
        <p><%= current_user.name %></p>
        <br>
      <p><strong>Email:</strong> </p>
        <p><%= current_user.email %></p>
        <br>
      <p><strong>Sign up:</strong> </p>
        <p><%= current_user.created_at.strftime('%A, %d %b %Y %l:%M %p') %></p>


  </div>

</div>



