<div class="container">
<h1 class="title is-1"> <%= @user.name %> </h1>
<hr>
</div>

<div class="columns">
<p id="notice"><%= notice %></p>

  <div class="column">
    <p>
      <%= image_tag @user.avatar.url(:medium) %>
    </p>
  </div>

</div>


<%= link_to 'Recipes', user_recipes_path(@user) %>

<%= link_to 'Beers', user_beers_path(@user) %>

<%= link_to 'Back', users_path %>
