<div class="container">
<h1 class="title is-1"> <%= @user.name %> </h1>
<hr>
</div>

<div class="columns">

  <div class="column is-half-tablet">
    <a class="button is-warning" href="<%= user_recipes_path(@user) %>" > Recipes </a>
    <a class="button is-warning" href="<%= user_beers_path(@user) %>" > Beers </a>
</br>
</br>
    <p>
      <%= image_tag @user.avatar.url(:medium) %>
    </p>
  </div>

<div class="column is-half-tablet">

    <h2 class="title"> User's info: </h2>
    <hr>
  
      <p><strong>Name:</strong> </p>
        <p><%= @user.name %></p>
        <br>
      <p><strong>Email:</strong> </p>
        <p><%= @user.email %></p>
        <br>
      <p><strong>Sign up:</strong> </p>
        <p><%= @user.created_at.strftime('%A, %d %b %Y %l:%M %p') %></p>


  </div>


</div>



<%= link_to 'Back to users index', users_path %>
