<%= form_for [@beer] do |f| %>
  <% if @beer.errors.any? %>
    <div class="notification is-danger" id="error_explanation">
      <h2><%= pluralize(@beer.errors.count, "error") %> prohibited this beer from being saved:</h2>
      <ul>
      <% @beer.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="control">
  <%= f.label :name %>
  <br>
  <p class="control has-icon">
  <input class="input" autofocus="autofocus" name="beer[name]" >
  <i class="fa fa-beer"></i>
  </p>

 <p class="control">
  <%= f.label :description %>
  <br>  <p class="control">
    <textarea class="textarea" name="beer[description]" placeholder="Textarea"></textarea>
  </p>
  </p>

  <p class="control">
<!--   PREVIEW IMAGE -->  
  <div class="column is-quarter" id="target"></div> 
 
  <%= f.file_field :beer_image, id: "pictureInput" %>
  <br>
  <br>
  </p>

  <button class="button is-success" type="submit" >
    <i class="fa fa-check"></i>
    Add new Beer!!
  </button>

<% end %>
