<p id="notice"><%= notice %></p>

<div class="container">
  <% if current_user %>
    <h1 class="title is-1">Listing My Beers</h1>
    <hr>
    <h1 class="title"> <%= link_to(current_user.name, profile_path) %> </h1>

  <%else%>
    <h1 class="title is-1">List of Beers</h1>
    <hr>
    <h1 class="title"> Brewed by: <a href="<%= profile_path %>"> <%= @user.name %> </a> </h1>
  <%end%>
  <hr>
</div>

<div class="columns is-multiline is-mobile">

  <% @beers.each do |beer| %>

    <div class="column is-quarter">
        <div class="container">
        <h2 class="subtitle"> <%= link_to(beer.name, beer_path(beer.id)) %> </h2>
          <%= image_tag beer.beer_image.url(:medium) %>
        </div>

          <% if current_user %>
          <%= link_to 'Edit', edit_beer_path(beer.id) %>
          <%= link_to 'Destroy', beer_path(beer.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>

    </div>
  <% end %>
</div>




