<div class="columns">

  <div class="column is-half">
    <div class="container">
      <h1 class="title is-1"> <%= @beer.name %> </h1>
    </div>
  </div>

  <div class="column is-quarter">

      <div class="vote_count">
        <a class="button is-large"> <%= @beer.get_likes.size %> Likes by users </a>
      </div>

  </div>

  <div class="column is-quarter">
      <div class="votes">
        <% if current_user %>
          <% if current_user.liked? @beer %>
            <a href="<%= unlike_beer_path(@beer) %>" class="button is-danger is-large unlike_beer" data-method="get" remote= "true"> 
              <i class="fa fa-frown-o"></i>
              Dislike... </a>
          <% else %>
            <a href="<%= like_beer_path(@beer) %>" class="button is-success is-large like_beer" data-method="get" remote= "true"> 
            <i class="fa fa-heart"></i>
              Like! </a>
          <% end %>
        <% end %>

      </div>
  </div>
</div>    

<hr>

<div class="columns">

  <div class="column is-quarter is-half-tablet">
 
    <h2 class="subtitle"> Brewed by: <a href="<%= user_path(@beer.user_id) %>"> <%= get_user_by_id(@beer.user_id).name %> </a> </h2>

    <% if current_user == @beer.user_id %>
      <p><%= link_to 'Edit my beer!', edit_beer_path(@beer.id) %> </p>
    </br>
      <% end %>

      <%= image_tag @beer.beer_image.url(:medium) %>
      
          <% if current_user == @beer.user_id %>
          <%= link_to 'Edit', edit_beer_path(@beer.id) %> |
          <%= link_to 'Destroy', beer_path(@beer.id), method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>

  </div>

    <div class="column is-quarter is-half-tablet">
      
      <h2 class="subtitle"> Beer Info: </h2>

      <p><strong>Name:</strong> <%= @beer.name %> </p>
    </br>
      <p><strong>Description:</strong> <%= @beer.description %> </p>
    </br>
    <strong>You can buy it here:</strong>
      <ul>
      <% @locations.each do |l| %>

        <li class="get_address">- <%= l.address.html_safe %> </li>

        <span class="hidden_loc hidden_lat"> <%= l.lat %> </span>
        <span class="hidden_loc hidden_lng"> <%= l.long %> </span>
      
      <% end %>
      </ul>

    </div>

    <div class="column is-half">

      <% if @beer.locations != [] %>

        <h2 class="subtitle"> You can buy this beer here: </h2>      
        <div id="show_locations_map" class="container" style="height: 400px"> </div>

      <% end %>

    <% if current_user %>

      <% if current_user.id == @beer.user_id %>
        
          <h2 class="subtitle"> This beer has no locations yet... </h2>
          <p class="subtitle"><%= link_to 'Add the new location for this beer!', new_location_path(@beer) %></p>
           
      <% else %>
        
          <h2 class="subtitle"> This beer has no locations yet... </h2>
          <p> You can ask the Brewr :) </p>

      <% end %>

    <% end %>
          
    </div>

<!--   <div id="beer-location" data-lat="131" data-lng="321"></div> -->
    </div>
<hr>
<hr>



<div class="columns">

        <div class="column is-half">

          <div class="container">
            <h2 class="title">COMMENTS ON THIS BEER:</h2>
            <hr>
          </div>
       
            <% @beer.comments.each do |c| %>
                
              <div class="card">
                <div class="card-content">
                    <div class="media">
                      <div class="media-left">
                        <figure class="image is-48x48">
                          <img src="<%= get_user_by_id(c.user_id).avatar.url %>" alt="Image">
                        </figure>
                      </div>
                      <div class="media-content">
                        <p ><%= link_to(get_user_by_id(c.user_id).name, user_path(c.user_id)) %> said:</p>
                        <small>@johnsmith</small>
                      </div>
                    </div>
                  <div class="content">
                    <p><%= c.comment %></p>
                    <br>
                    <small><%= c.created_at %></small>
                  </div>
                </div>
              </div>

            <% end %>

        </div>

<% if user_signed_in? %>

  <div class="column is-half">
      
      <div class="container">
        <h2 class="title"> Comment as <%= link_to(current_user.name, profile_path) %>:</h2>
        <hr>
      </div>

      <%= form_tag "/beer/add_new_comment" do %>
        <%= hidden_field_tag "user_id", current_user.id %>
        <%= hidden_field_tag "id", @beer.id %>
        <%= text_area "comment", "comment", class:"textarea", placeholder:"Add a comment...", :rows => 5, :cols => 50 %> <br />
        <%= submit_tag "Comment this beer!", class:"button is-success" %>
      <% end %>

  </div>
  <% end %>

</div>





