<p id="notice"><%= notice %></p>

<h1> <%= @beer.name %> </h1>
<a href="<%= user_path(@user) %>"> <%= @user.name %> </a>

<p> <%= @beer.description %> </p>

<% if user_session %>
<%= link_to 'Edit', edit_user_recipe_beer_path(@user.id, @beer.recipe_id, @beer.id) %> |
<% end %>
<%= link_to 'Back', user_recipe_beers_path(@beer.user_id, @beer.recipe_id) %>
