<div class="columns">

<p id="notice"><%= notice %></p>

  <div class="column is-half">

  <h1 class="title is-1"> <%= @beer.name %> </h1>
      
    <h2 class="subtitle"> Brewed by: <a href="<%= user_path(@user) %>"> <%= @user.name %> </a> </h2>

      <% if user_session %>
      <p><%= link_to 'Edit this beer', edit_user_recipe_beer_path(@user.id, @beer.recipe_id, @beer.id) %> </p>
      <% end %>

      <%= image_tag @beer.beer_image.url(:medium) %>

  </div>

    <div class="column is-quarter">
      
      <p><strong>Name:</strong> <%= @beer.name %> </p>
      <p><strong>Description:</strong> <%= @beer.description %> </p>

    </div>

</div>

<%= link_to 'Back', user_recipe_beers_path(@beer.user_id, @beer.recipe_id) %>
