<h1 class="title is-1">BREWRS HOME</h1>
<hr>

<div class="columns is-tablet">

  <div class="column is-quarter-desktop">
    <h2 class="subtitle is-text-centered">LAST ADDED BEERS</h2>
    <hr>

      <% @last_added_beers.each do |beer| %>      

          <div class="box imgBox">
            <h2 class="subtitle is-text-centered"> <%= link_to(beer.name, beer_path(beer.id)) %> </h2>
              <hr>
              <div class="container">
                <a href="<%= beer_path(beer.id) %>" >
              <%= image_tag beer.beer_image.url(:medium) %>
                </a>
              </div>
            <br>
            <small> Brewed by: <%= link_to(get_user_by_id(beer.user_id).name, user_path(beer.user_id)) %></small>
          </div>
          </br>       
        
      <% end %>
             
  </div>

  <div class="column is-quarter-desktop">
    <h2 class="subtitle is-text-centered">LAST BREWERS</h2>
    <hr>
    
      <% @last_brewers.each do |user| %>      

          <div class="box imgBox">
            <h2 class="subtitle is-text-centered"> <%= link_to(user.name, user_path(user)) %> </h2>
              <hr>
              <div class="container">
                <a href="<%= user_path(user.id) %>" >
              <%= image_tag user.avatar.url(:medium) %>
            </a>
              </div>          
          </div>
          </br>

      <% end %>
          
  </div>

  <div class="column is-quarter-desktop">
    <h2 class="subtitle is-text-centered">BEST BEERS</h2>
    <hr>
      <% @best_beers.each do |beer| %>      

          <div class="box imgBox">
            <h2 class="subtitle is-text-centered"> <%= link_to(beer.name, beer_path(beer.id)) %> </h2>
            <p class="is-text-centered"> Likes: <%= beer.get_likes.size %> </p>
              <hr>
              <div class="container">
                <a href="<%= beer_path(beer.id) %>" >
              <%= image_tag beer.beer_image.url(:medium) %>
                </a>              
              </div>
            <br>

            <small> Brewed by: <%= link_to(get_user_by_id(beer.user_id).name, user_path(beer.user_id)) %></small>
          </div>
          </br>       
        
      <% end %>
  </div>

  <div class="column is-quarter-desktop">

    <h2 class="subtitle is-text-centered">EVENTS</h2>
    <hr>

  </div>

</div>

