<h1 class="title is-1">BREWRS HOME</h1>
<hr>

<div class="columns">

    <div class="column ">
      <h2 class="subtitle">LAST ADDED BEERS</h2>
      <hr>
      <% @last_added_beers.each do |beer| %>           
                
                  <%= image_tag beer.beer_image.url(:thumb) %>

                  <h3> <%= link_to(beer.name, beer_path(beer.id)) %> </h3>
                  <p> Brewed by: <%= get_user_by_id(beer.user_id).name %></p>
                
                  <% end %>
              
    </div>

  <div class="column">
    <h2 class="subtitle">LAST BREWERS</h2>
    <hr>
    <% @last_brewers.each do |user| %>      

                <%= image_tag user.avatar.url(:thumb) %>

                <h3> <%= link_to(user.name, user_path(user)) %> </h3>

                <% end %>
          
  </div>

  <div class="column">
    <h2 class="subtitle">EVENTS</h2>
    <hr>

  </div>

  <div class="column">
    <h2 class="subtitle">LAST COMMENTS</h2>
    <hr>

  </div>

</div>
