<h1 class="title is-1">BREWRS HOME</h1>
<hr>

<div class="columns">

  <div class="column is-quarter">
    <h2 class="subtitle">LAST ADDED BEERS</h2>
    <hr>

      <% @last_added_beers.each do |beer| %>      

          <div class="box">
            <h2 class="subtitle"> <%= link_to(beer.name, beer_path(beer.id)) %> </h2>
            <%= image_tag beer.beer_image.url(:medium) %>
            <br>
            <small> Brewed by: <%= link_to(get_user_by_id(beer.user_id).name, user_path(beer.user_id)) %></small>
          </div>
          </br>       
        
      <% end %>
             
  </div>

  <div class="column is-quarter">
    <h2 class="subtitle">LAST BREWERS</h2>
    <hr>
    
      <% @last_brewers.each do |user| %>      

          <div class="box">
            <h2 class="subtitle"> <%= link_to(user.name, user_path(user)) %> </h2>
            <%= image_tag user.avatar.url(:medium) %>
          </div>
          </br>

      <% end %>
          
  </div>

  <div class="column is-quarter">
    <h2 class="subtitle">EVENTS</h2>
    <hr>

  </div>

  <div class="column is-quarter">
    <h2 class="subtitle">LAST COMMENTS</h2>
    <hr>

  </div>

</div>
