<div class="container">
<h1 class="title is-1"> BEERS INDEX </h1>
<hr>
</div>

<div class="columns is-multiline is-mobile">
  
  <% @beers.each do |beer| %>
   
    <div class="column is-quarter">
      <div class="box">
        <div class="container">
          <a href="<%= beer_path(beer.id) %>" >
              <%= image_tag beer.beer_image.url(:medium) %>
          </a>          
        </div>
        <a href="<%= beer_path(beer.id) %>"> <%= beer.name %> </a>
        <br>
        <p> Likes: <%= beer.get_likes.size %> </p>
        <small> Brewed by: <%= link_to(get_user_by_id(beer.user_id).name, user_path(beer.user_id)) %></small>
      </div>
    </div>
    
 <% end %>

</div>  