<div class="container">
<h1 class="title is-1">New Location</h1>
<hr>
</div>

<div class="columns">

  <div class="column is-half">

    <h2 class="subtitle"> Your beer is sold in: </h2>
      <hr>
      <div id="input-wrapper">
          <input type="text" name="get-places" id="get-places">
      </div>
    </br>
        <div id="get_location_map" class="hidden"></div>
        <div id="map" class="container" style="height: 400px"> </div>
  </div>



<div class="column is-half">
  
    <h2 class="subtitle"> Add New Address: </h2>
      <hr>
    </br>
    </br>

    <p class="subtitle"><%= flash[:notice] %> </p> 


    <%= render 'form' %>
      
    <div class="container">  

      <% if @beer.locations != [] %>
    </br>
        <strong>You can buy it here:</strong>
      <ul>
        <% @locations.each do |l| %>

          <li class="get_address">- <%= l.address.html_safe %> </li>

          <span class="hidden_loc hidden_lat"> <%= l.lat %> </span>
          <span class="hidden_loc hidden_lng"> <%= l.long %> </span>
        
        <% end %>
      <% end %>
      
      </ul>
</br>
    <%= link_to 'No more locations for this beer', beer_path(@beer), class:"button is-warning" %>

    </div>

  </div>

</div>