<!DOCTYPE html>
<html>
<head>
  <title>Brewrs</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
</head>

<body>

<section class="hero is-warning is-bold">
  <!-- Hero header: will stick at the top -->
  <div class="hero-header is-fixed-top">
    <header class="header">
      <div class="container">
        <div class="header-left">
          <a class="header-item" href="<%=root_path%>">
        <img src="#" alt="Logo">
          </a>
        </div>
        <span class="header-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        <div class="header-right header-menu">
          <% if user_signed_in? %>

            <span class="header-item">
            <%= "Hola! " + current_user.name %>
            </span>
            <span class="header-item">
            <%= link_to 'My profile', profile_path %>
            </span>
            <span class="header-item">
            <%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %>
            </span>
          
          <% else %>
            
            <span class="header-item"> 
            <%= link_to 'Sign_in', new_user_session_path %>
            </span>
            <span class="header-item">
            <a class="button" href="<%=new_user_registration_path%>">Sign Up!</a>
            </span>

          <% end %>

        </div>
      </div>
    </header>
  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-content">
    <div class="container">
      <h1 class="title">
        Drink responsibly!
      </h1>
      <h2 class="subtitle">
        Never drink and drive
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-footer">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>

          <li class="is-flex"> <a class="header-tab" href="<%=root_path%>">HOME </a></li>
          <li class="is-flex"><a class="header-tab" href="<%=users_path%>"> BREWERS </a></li>
          <li class="is-flex"><a class="header-tab" href="<%=beers_index_path%>"> BEERS </a></li>
          <li class="is-flex"><a class="header-tab" href="<%=recipes_index_path%>">RECIPES</a></li>
          <li class="is-flex"><a href="#">EVENTS</a></li>
          
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section" style="background: grey-darker">

  <div class="container">
    <%= yield %>
  </div>

</section>


  <footer class="footer">
    <div class="container">
      <div class="content is-centered">

        <p>
          <strong>Bulma</strong> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>. </br>
          
        </p>
          Make with ♥ by me
      </div>
    </div>
  </footer>

</body>

</html>