<!DOCTYPE html>
<html>
<head>
  <title>Brewrs - The local community of homebrewers</title>

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Kavoon::latin' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = 'https://ajax.googleapis.com/ajax/libs/webfont/1/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>

  <link href='https://fonts.googleapis.com/css?family=Kavoon' rel='stylesheet' type='text/css'>
  <script src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<body>

<section class="hero header_hero">
  <!-- Hero header: will stick at the top -->
  <div class="hero-header">
    <header class="header">
      <div class="container">
        <div class="header-left">
          <a class="header-item" href="<%=root_path%>">
            <span class="logo">BREWRS</span>
          </a>
        </div>
        <span id="header-toggle" class="header-toggle">
          <span></span>
          <span></span>
          <span></span>
        </span>
        
        <div id="header-menu" class="header-right header-menu is-hidden-touch">
          
          <% if user_signed_in? %>
          
            <span class="header-item"><%= "Hola! " + current_user.name %></span>
            <span class="header-item"><%= link_to 'My profile', profile_path %></span>
            <span class="header-item"><%= link_to 'Sign out', destroy_user_session_path, method: 'DELETE' %></span>
          
          <% else %>
            
            <span class="header-item"><%= link_to 'Sign_in', new_user_session_path %></span>
            <span class="header-item">
              <a class="button is-warning" href="<%=new_user_registration_path%>">Sign Up!</a>
            </span>

          <% end %>

        </div>
      </div>

    </header>

  <div class="column is-half is-offset-quarter">
    <div id="header-menu" class="header-right header-menu is-hidden-desktop is-mobile">

       <div class="column is-half">
          <a class="button is-fullwidth" href="<%=new_user_registration_path%>" >            
            <span>SIGN UP!</span>
          </a>
        </div>

        <div class="column is-half">

          <a class="button is-warning is-fullwidth" href="<%= new_user_session_path %>">            
            <span>LOG IN</span>
          </a>
        </div>

      </div>
    </div>
  </div>

  </div>

  <!-- Hero content: will be in the middle -->
  <div class="hero-content">
    <div class="container">
      <span class="header_name">
        BREWRS
      </span>
      <h2 class="subtitle is-3">
        The local community of homebrewers 
      </h2>
    </div>
  </div>

  <!-- Hero footer: will stick at the bottom -->
  <div class="hero-footer">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
        <ul>

          <li class="is-flex"> <a class="header-tab" href="<%=root_path%>">HOME </a></li>
          <li class="is-flex"><a class="header-tab" href="<%=users_path%>"> BREWERS </a></li>
          <li class="is-flex"><a class="header-tab" href="<%=beers_index_path%>"> BEERS </a></li>
          <li class="is-flex"><a class="header-tab" href="<%=recipes_index_path%>">RECIPES</a></li>
          <li class="is-flex"><a href="#">EVENTS</a></li>
          
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section" style="background: grey-darker">

  <div class="container">
    <%= yield %>
  </div>

</section>

<%= render '/site/newsletter' %>

  <footer class="footer">
    <div class="container">
      <div class="content is-centered">

        <p class="is-text-centered">
        </br>
          <a href="http://bulma.io">Bulma</a> by <a href="http://jgthms.com">Jeremy Thomas</a>. The source code is licensed
          <a href="http://opensource.org/licenses/mit-license.php">MIT</a>. The website content
          is licensed <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/">CC ANS 4.0</a>. </br>
          Make with ♥ by me
       </p>
 
      </div>
    </div>
  </footer>

</body>

</html>